body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
}

.img-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-shadow {
  box-shadow: 5px -5px 5px -3px rgb(63, 60, 57);
}

.border {
  border: 1px solid black;
}

.center {
  margin: 0 auto;
}


/* Header */

.header-img {
  background-image: url(../images/villadeleyva1h.png);
  
  height: 650px; 
}

.position-img-header {
  position: relative;
  width: 125px;
  left: 1rem;
  top: 90%;
}

/* Options section */

.options-logo {
  width: 200px;
}

.options-article {
  height: 11rem;
  margin-top: 2rem ;
  background-color: rgb(230, 75, 13);
  border-radius: 3px;
}

.options-p {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
}

.options-buttons {
  background-color: #009bca;
  border-radius: 3px;
}

.options-h2 {
  padding: 10px 0 10px 0;
}

.options-btn {
  width: 90%;
  color: white;
  font-weight: 700;
  margin-left: 20px;
}

.fa-caret-down {
  font-size: 1.5rem;

}

/* Features places */

.featured-places {
  margin-bottom: 40px;
}

.tittle {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  box-shadow: 0px 2px gray;
  padding: 0.8rem;
}

.grid-image-1 {
  display: grid;
  grid-template-columns: 49% 49%;
  margin-top: 15px;
  justify-content: space-between;
}

.tittle-text {
  padding: 5px;
  text-align: center;
  background-color: rgb(59, 58, 58);
  font-size: 1.2rem;
  color: white;
}

.tittle-text:hover {
  background-color:  rgb(131, 29, 131);
}

.img-1 {
  position: absolute;
  left: 2rem;
  top: 320px;
}

.position-img {
  position: relative;
  width: 125px;
  left: 1rem;
  top: 135px;
}

.image-1 {
  background-image: url(../images/raquira.jpg);
  height: 370px;
}

.image-2 {
  background-image: url(../images/villaiglesia.jpg);
}

.image-3 {
  background-image: url(../images/tunja2-nochen-alcaldia.jpg);
}

.grid-image-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows:  180px 180px 180px;
  justify-content: space-between;
  gap: 7px;
  margin-top: 10px;
}

.img-height {
  height: 180px;
}

.image-4 {
  background-image: url(../images/paipa1.png);
}

.image-5 {
  background-image: url(../images/laguna-de-tota_alumbrados-boyaca.png);
}

.image-6 {
  background-image: url(../images/pozo.jpg);
}

.image-7 {
  background-image: url(../images/cucuy.png);
}

.image-8 {
  background-image: url(../images/pantano-vargas.jpg)
}

.image-9 {
  background-image: url(../images/mongui.jfif);
}

/* ADS */

.ads-img {
  height: 400px;
  background-image: url(../images/couple-2.jpg);
  color: white;
  border-radius: 5px;

}

.ads-strong-text {
  font-size: 2.8rem;
  margin-top: 10px;
}

.ads-h2-text {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 8px;
}

/* Priority activities  */
.img-height-2 {
  height: 200px;
  margin: 0 10px 10px 0;
  border-radius: 3px;
}

.image-10 {
  background-image: url(../images/quatrimotos-villa.jfif);
}

.image-11 {
  background-image: url(../images/images.jfif);
}
.image-12 {
  background-image: url(../images/escalada.jpg);
}

.image-13 {
  background-image: url(../images/patio.JPG);
}

.image-14 {
  background-image: url(../images/ciclismo.jpg);
}

.image-15 {
  background-image: url(../images/Raquira-43.jpg);
}





/* FOOTER */

.main-footer {
  height: 100px;
  background-color: #232123;
  color: white;
}

